In [2]:
import mysql.connector
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [3]:
db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Keremiis123!", 
  auth_plugin="mysql_native_password"
)

In [4]:
print(db_connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000263D01A24F0>

In [5]:
db_cursor = db_connection.cursor(buffered=True)

db_cursor.execute("SHOW DATABASES")

db_cursor.execute("USE comp306Project")

In [6]:
def populate_table(db_connection, db_cursor, insert_query, file_path):
    
    with open(file_path, mode='r') as csv_data:
        reader = csv.reader(csv_data, delimiter=';')
        csv_data_list = list(reader)
        for row in csv_data_list[1:]:
            row = tuple(map(lambda x: None if x == "" else x, row[0].split(',')))
            db_cursor.execute(insert_query, row)
        
    db_connection.commit()

In [9]:
insert_appointments = (
    "INSERT INTO APPOINTMENT(AppointmentId, Duration, Date, Floor, RoomNumber) "
    "VALUES (%s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_appointments, "data/appointments.csv")

In [13]:
insert_employee = (
    "INSERT INTO EMPLOYEE(EmployeeId, EmployeeSSN, Name, Sex, BirthDate, Salary, HireDate, City, Street, State) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_employee, "data/employee.csv")

In [14]:
insert_nurse = (
    "INSERT INTO NURSE(EmployeeId) "
    "VALUES (%s)"
)

populate_table(db_connection, db_cursor, insert_nurse, "data/nurse.csv")

In [15]:
insert_doctor = (
    "INSERT INTO DOCTOR(EmployeeId, Title, Expertise, Bonus) "
    "VALUES (%s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_doctor, "data/doctor.csv")

In [17]:
insert_patient = (
    "INSERT INTO PATIENT(PatientSSN, PhoneNumber, Name, BirthDate, BloodType, City, Street, State, Sex) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_patient, "data/patient.csv")

In [ ]:
PrescriptionId, Diagnosis

In [19]:
insert_prescription = (
    "INSERT INTO PRESCRIPTION(PrescriptionId, Diagnosis) "
    "VALUES (%s, %s)"
)

populate_table(db_connection, db_cursor, insert_prescription, "data/prescription.csv")

In [22]:
insert_companion = (
    "INSERT INTO COMPANION(Relationship, CompanionSSN, PatientSSN, PhoneNumber, Name, since, until) "
    "VALUES (%s, %s, %s, %s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_companion, "data/companion.csv")

In [24]:
insert_nurse_reference = (
    "INSERT INTO NURSE_REFERENCES(RefereeNurseId, RefererNurseId, Rating) "
    "VALUES (%s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_nurse_reference, "data/nurse_references.csv")

In [30]:
insert_prescription_medicine = (
    "INSERT INTO prescription_medicine(PrescriptionId, Medicine) "
    "VALUES (%s, %s)"
)

populate_table(db_connection, db_cursor, insert_prescription_medicine, "data/prescription_medicine.csv")

In [32]:
insert_nurse_certificates = (
    "INSERT INTO nurse_certificates(EmployeeId, Certificate) "
    "VALUES (%s, %s)"
)

populate_table(db_connection, db_cursor, insert_nurse_certificates, "data/nurse_certificates.csv")

In [8]:
insert_participates = (
    "INSERT INTO participates(PatientSSN, AppointmentId, EmployeeId) "
    "VALUES (%s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_participates, "data/participates.csv")

In [9]:
insert_writes = (
    "INSERT INTO writes(PatientSSN, PrescriptionId, DoctorId, WritingDate) "
    "VALUES (%s, %s, %s, %s)"
)

populate_table(db_connection, db_cursor, insert_writes, "data/writes.csv")